/*
#CF6766 Crimson Sky
#30415D Indigo
#031424 Ultramarine
#8EAEBD Light Blue
*/

body {
  background-color: #8EAEBD;
}

#cust_title {
  color: #031424;
  font-family: monospace;
  font-weight: bold;
  font-size: 75px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
}
.sub-navbar {
  color: #8EAEBD;
  font-family: system-ui;
  margin-right: auto;
  margin-left: auto;
  background-color: #30415D;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.contact-form {
  text-align: center;
  background-color: #CF6766;
  border-radius: 30px;
  padding: 25px;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #CF6766;
  margin-top: 0;
  margin-bottom: 0;
}

li {
  float: left;
}

li a, .dropbtn {
  font-family: system-ui;
  display: inline-block;
  color: #30415D;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #30415D;
  color: #CF6766;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #30415D;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #8EAEBD;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #30415D;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.add-contact-info {
  text-align: center;
  color: #031424;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #30415D;
  color: #8EAEBD;
}
